
  h4{margin-bottom:2px;color:#006778;font-size:120%;padding-left:6%;}
  .section{margin:auto;width:80%;}
  hr
  {border-top: 1px solid black;border-left:0;border-right:0;border-bottom:0;width:90%;}
  .back{position:relative; left:84%;}
  .confirm{position:relative; left:86%;}